<div  class="modal fade application search-popup-modal " id="search-popup-modal-show">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <h4>{{applicationSearch}}</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>

      <ul>
        <li>
          <label>{{applicationTypeText}}</label>
          <ng-select2  [data]="applicationTypeModel"

                       (valueChanged)="changeApplicationTypeModel($event)" [placeholder]="placeHolderApplication"></ng-select2>
        </li>
        <li id="modalYear" *ngIf="yearFlagModel">
          <label>{{year}}</label>
          <ng-select2 [data]="yearListModel" [(ngModel)]="selectedYearModel" (valueChanged)="changeYearModel($event)" [placeholder]="placeHolderYear"></ng-select2>
        </li>

        <li id="modalManufacturer" *ngIf="manufacturerFlagModel">
          <label>{{manufacturerText}}</label>
          <ng-select2 [data]="manufactureListModel" [(ngModel)]="selectedManufactureModel" (valueChanged)="changeManufactureModel($event)" [placeholder]="placeHolderManufacture"></ng-select2>
        </li>

        <li id="modalMake" *ngIf="makeFlagModel">
          <label>{{makeText}}</label>
          <ng-select2 [data]="makerListModel" [(ngModel)]="selectedMakerModel" (valueChanged)="changeMakerModel($event)" [placeholder]="placeHolderMaker"></ng-select2>
        </li>

        <li id="modalEquipmentType" *ngIf="equipmentTypeFlagModel">
          <label>{{equipmentText}}</label>
          <ng-select2 [data]="equipmentTypeListModel" [(ngModel)]="selectedEquipmentModel" (valueChanged)="changeEquipmentModel($event)" [placeholder]="placeHolderEquipment"></ng-select2>
        </li>

        <li id="model" *ngIf="modelFlagModel">
          <label>{{modelText}}</label>
          <ng-select2 [data]="modelListModel" [(ngModel)]="selectedModelModel" (valueChanged)="changeModelModel($event)" [placeholder]="placeHolderModel"></ng-select2>
        </li>
        <li id="engine" *ngIf="engineFlagModel">
          <label>{{engineText}}</label>
          <ng-select2 [data]="engineListModel" [(ngModel)]="selectedEnginModel" (valueChanged)="changeEngineModel($event)" [placeholder]="placeHolderEngine"></ng-select2>
        </li>

        <li *ngIf="popUpSubmitButtonDisabled == true"><input type="submit" disabled class="form-control search search-disable" value="{{searchLabel}}" (click)="modelSubmit()"/></li>
        <li *ngIf="popUpSubmitButtonDisabled == false"><input type="submit"  class="form-control search" value="{{searchLabel}}" (click)="modelSubmit()"/></li>
      </ul>
    </div>
  </div>
</div>

<div class="bootstrap">
  <div id="content">
    <div id="inner-content" class="container">
      <div class="row">
        <div class="col-lg-3">
          <div id="sidebar">
            <span class="sidebar-title">{{applicationSearch}}</span>
            <div class="filter-title">
              <a>{{applicationTypeText}}</a>
              <i class="fa fa-question-circle filter-info-tooltip" data-toggle="tooltip" data-placement="right" title="{{applicationTypeText}}" data-original-title="Application Type"></i>
            </div>
            <div class="p-3">
              <ng-select2  [data]="applicationType"
                           [(ngModel)]="selectedApplicationType"
                       (valueChanged)="changeApplicationType($event)" [placeholder]="placeHolderApplication"
              ></ng-select2>

            </div>

            <div class="filter-title" *ngIf="yearFlag">
              <a>{{year}}</a>
              <i class="fa fa-question-circle filter-info-tooltip" data-toggle="tooltip" data-placement="right" title="{{year}}" data-original-title="Year"></i>
            </div>
            <div class="p-3" *ngIf="yearFlag">
              <ng-select2 [data]="yearList" [(ngModel)]="selectedYear" (valueChanged)="changeYear($event)" [placeholder]="placeHolderYear"></ng-select2>
            </div>

            <div class="filter-title" *ngIf="manufacturer">
              <a>{{manufacturerText}}</a>
              <i class="fa fa-question-circle filter-info-tooltip" data-toggle="tooltip" data-placement="right" title="{{manufacturerText}}" data-original-title="Manufacturer"></i>
            </div>
            <div class="p-3" *ngIf="manufacturer">
              <ng-select2 [data]="manufactureList"  [(ngModel)]="selectedManufacture" (valueChanged)="changeManufacture($event)" [placeholder]="placeHolderManufacture"></ng-select2>
            </div>

            <div class="filter-title" *ngIf="make">
              <a>{{makeText}}</a>
              <i class="fa fa-question-circle filter-info-tooltip" data-toggle="tooltip" data-placement="right" title="{{makeText}}" data-original-title="Make (optional)"></i>
            </div>
            <div class="p-3" *ngIf="make">
              <ng-select2 [data]="makerList" [(ngModel)]="selectedMaker" (valueChanged)="changeMaker($event)" [placeholder]="placeHolderMaker"></ng-select2>
            </div>


            <div class="filter-title" *ngIf="equipmentType">
              <a>{{equipmentText}}</a>
              <i class="fa fa-question-circle filter-info-tooltip" data-toggle="tooltip" data-placement="right" title="{{equipmentText}}" data-original-title="EquipmentType (Optional)"></i>
            </div>
            <div class="p-3" *ngIf="equipmentType">
              <ng-select2 [data]="equipmentTypeList" [(ngModel)]="selectedEquipment" (valueChanged)="changeEquipment($event)" [placeholder]="placeHolderEquipment"></ng-select2>
            </div>

            <div class="filter-title" *ngIf="model">
              <a>{{modelText}}</a>
              <i class="fa fa-question-circle filter-info-tooltip" data-toggle="tooltip" data-placement="right" title="{{modelText}}" data-original-title="Model"></i>
            </div>
            <div class="p-3" *ngIf="model">
              <ng-select2 [data]="modelList" [(ngModel)]="selectedModel" (valueChanged)="changeModel($event)" [placeholder]="placeHolderModel"></ng-select2>
            </div>

            <div class="filter-title" *ngIf="engine">
              <a>{{engineText}}</a>
              <i class="fa fa-question-circle filter-info-tooltip" data-toggle="tooltip" data-placement="right" title="{{engineText}}" data-original-title="Engine"></i>
            </div>
            <div class="p-3" *ngIf="engine">
              <ng-select2 [data]="engineList" [(ngModel)]="selectedEngin" (valueChanged)="changeEngine($event)" [placeholder]="placeHolderEngine"></ng-select2>
            </div>

          <!--  <span class="sidebar-title">Keyword Search</span>
            <div class="sidebar-inner">
              <div id="search-inputs-container">
                <p class="search-text">Enter either a manufacturer or a model to search for:</p>
                <div class="search-input input-group mb-3">
                  <input type="text" maxlength="255" id="txtSearch" class="form-control" placeholder="Enter a keyword" autocomplete="off" aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-append" id="search-addon">
                    <button id="btnSearch" type="submit" class="input-group-text">
                      <a>
                        <i class="fa fa-search"></i>
                      </a>
                    </button>
                  </div>
                  <div id="aqs-flyout"></div>
                </div>
              </div>


            </div>-->
          </div>
        </div>
        <div class="col-lg-9">
          <!--<div id="divResultsSearch" class="section" style="margin-bottom: 2em;">
            <div class="search-results">
              <strong id="txtSearched">Search results for: </strong>
              <ul id="checkSel">

                <ng-container *ngFor="let breadcum of selectionBreadCum">
                  <li class="alert" > {{breadcum.value}}
                    <span   aria-label="close" (click)="removeBreadcum(breadcum)">
                  <i class="fa fa-times" aria-hidden="true"></i></span>
                  </li>

                </ng-container>



              </ul>

            </div>


          </div>-->
          <div class="results" style=""><!-- overflow-x:auto; -->
            <div *ngIf="totalcount>0 || totalcount ==null; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
            <table id="search-results" cellpadding="0" cellspacing="10" border="0" style="width: 100%;" class="dataTable no-footer">
              <thead>
              <tr role="row">
                <td>{{filterText}} </td>
                <td>{{baldwinNumberText}} </td>
                <td>{{qualifiersText}}</td>
                <td></td>
                <td></td>
                <td></td>

              </tr>
              </thead>
              <tbody>
              <tr class="infoWindow">
                <td colspan="6" class="hiddenRow" style="padding:0;"></td>
              </tr>
              <ng-container *ngFor="let result of productPartResults">
              <tr role="row" class="odd">
                <td>{{result.partPrompt_si}}</td>
                <td class="cross-baldwin"><a *ngIf="checkUrl(result.bPartnumber_s)==true" routerLink="/partDetail/{{result.bPartnumber_s}}" [queryParams]="{application: selectedApplicationType}">{{result.bPartnumber_s}}</a>
                  <a *ngIf="checkUrl(result.bPartnumber_s)==false">{{result.bPartnumber_s}}</a>
                </td>
                <td>{{result.notes_si}}</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="infoWindow">
                <td colspan="6" class="hiddenRow" style="padding:0;"></td>
              </tr>
              </ng-container>





              </tbody>
            </table>
            </ng-template>
            <ng-template #elseBlock>
              <div [ngStyle]="{display: isSubmitted == true? 'block':'none'}">
                <div class="flw search-not-found">
                  <h3>{{contactSubmitted}}</h3>
                </div>
              </div>
              <div class="flw search-not-found" [ngStyle]="{display: isSubmitted == false? 'block':'none'}">
                <h3>{{sorryLabel}} </h3>
                <h3 class="no-border">{{detailLabel}}</h3>
                <ul>
                  <form [formGroup]="partRequestForm" (ngSubmit)="submitContact()">
                    <li>
                      <label>{{fnameLabel}}</label>
                      <input type="text" class="form-control" formControlName="firstName"/>
                      <span *ngIf="!partRequestForm.get('firstName').valid && partRequestForm.get('firstName').touched"
                            class="help-block"> {{invalidFirstNameText}}</span>
                    </li>
                    <li>
                      <label>{{lnameLabel}}</label>
                      <input type="text" class="form-control" formControlName="lastName"/>
                      <span *ngIf="!partRequestForm.get('lastName').valid && partRequestForm.get('lastName').touched"
                            class="help-block">{{invalidLastNameText}}</span>
                    </li>
                    <li>
                      <label>{{emailLabel}}</label>
                      <input type="text" class="form-control" formControlName="email"/>
                      <span *ngIf="!partRequestForm.get('email').valid && partRequestForm.get('email').touched"
                            class="help-block ">{{EmailInvalidText}}</span>
                    </li>
                    <li>
                      <label>{{phoneLabel}}</label>
                      <input type="text" class="form-control" formControlName="phone"/>
                      <span *ngIf="!partRequestForm.get('phone').valid && partRequestForm.get('phone').touched"
                            class="help-block ">{{phoneInvalidText}}</span>
                    </li>
                    <li>
                      <label>{{additionalInfoLabel}}</label>
                      <textarea name="message" rows="3" cols="30" class="form-control" formControlName="additionalInformation"></textarea>
                    </li>
                    <li>

                      <input type="submit" [disabled]="!partRequestForm.valid" value="{{submitLabel}}" />
                    </li>
                  </form>
                </ul>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>